<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-4xl">
      <h1 class="text-5xl font-bold">プライバシーポリシー</h1>
      <p class="py-6">
      <ul>お客様から取得する情報</ul>
      <ul>当社は、お客様から以下の情報を取得します。</ul>
      </p>
      <%= button_to "もどる", root_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>