<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-4xl">
      <h1 class="text-5xl font-bold">利用規約</h1>
      <p class="py-6">
      本規約は、（以下「当社」といいます。）が提供する「ワスレナクエスト」（以下「本サービス」といいます。）を利用される際に適用されます。ご利用にあたっては、本規約をお読みいただき、内容をご承諾の上でご利用ください。
      </p>
      <%= button_to "もどる", root_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>