<div class="hero min-h-80 bg-base-100">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag 'brave.png' %>
    <div>
      <h1 class="text-5xl font-bold">ワ ス レ ナ ク エ ス ト</h1>
      <p class="py-6">ぼうけん に でかけよう !</p>
      <button class="btn btn-primary">ワスレナクエスト？</button>
      <%= button_to "はじめる", new_user_registration_path, method: :get, class: "btn btn-secondary" %>
      <button class="btn btn-accent">ためす(工事中)</button>
    </div>
  </div>
</div>