<header>
<div class="navbar fixed top-0 p-6" style="background-color: #EB0F0F; color: #fff;">
  <div class="flex-1">
    <%= link_to "ワ ス レ ナ ク エ ス ト", root_path, class: "btn btn-ghost text-2xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "LOG IN", new_user_session_path %></li>
    </ul>
  </div>
</div>
</header>