<footer class="footer items-center p-7 fixed bottom-0" style="background-color: #19B516; color: #fff;">
  <aside class="items-center grid-flow-col">
    <%= image_tag 'poisonous_ mushroom.png', size: "36x36" %>
    <p>Copyright © 2024 - All right reserved by DontForgetQuest</p>
  </aside> 
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <%= link_to "利用規約", 'https://www.kiyac.app/termsOfService/Ypv0YYHnYm7cZo9ndwEA', class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", 'https://www.kiyac.app/termsOfService/Ypv0YYHnYm7cZo9ndwEA', class: "link link-hover" %>
    <%= link_to "お問い合わせ", 'https://forms.gle/SCqMjeQps8PuRfRv8', class: "link link-hover" %>
  </nav>
</footer>