<header>
<div class="navbar" style="background-color: #3E95B1; color: #fff;">
  <div class="flex-1">
    <%= link_to "ワ ス レ ナ ク エ ス ト", root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete} %></li>
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
</header>