<header>
<div class="navbar fixed top-0 p-6" style="background-color: #11c7df; color: #fff;">
  <div class="flex-1">
    <%= link_to "ワ ス レ ナ ク エ ス ト", user_path(current_user), class: "btn btn-ghost text-2xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete} %></li>
    </ul>
  </div>
</div>
</header>